@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

.booking-calendar {
  margin-top: 20px;
  text-align: center;
}

.booking-calendar .react-calendar {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.booking-calendar p {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

.react-calendar__tile.booked {
  background-color: #ccc !important;
  color: #888;
}
